<div class="container mt-5">
  <div class="container text-center" style="border-width: medium;border-style: solid; border-radius: 10px; margin-bottom: 10px;">
    <h3>Editar Libro</h3>
    <form style="padding: 20px;" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="libro.nombre">
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripcion</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="libro.descripcion">
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" step="any" class="form-control" id="precio" name="precio" required [(ngModel)]="libro.precio">
      </div>
      <div class="mb-3">
        <label for="existencia" class="form-label">Existencia</label>
        <input type="number" class="form-control" id="existencia" name="existencia" required [(ngModel)]="libro.existencia">
      </div>
      <button type="submit" class="btn btn-warning me-3">Guardar</button>
      <a href="/" class=" btn btn-danger btn-sm">Regresar</a>
    </form>
  </div>
</div>

